---
import {getEntry, render} from 'astro:content';
import Layout from '../layouts/Layout.astro';

const page = (await getEntry('pages', 'podcasts'))!;
const {Content} = await render(page);
const {title, description} = page.data;
---

<Layout {title} {description}>
    <main id="main-content" class="w-full mx-auto px-4 sm:px-6 lg:px-8 flex justify-center max-w-[1440px]">
        <div class="pt-8 sm:pt-12 flex-1 w-full max-w-prose">
            <h1 class="font-chicago text-2xl sm:text-3xl text-neutral-900 dark:text-neutral-100">{title}</h1>
            <p class="text-neutral-600 dark:text-neutral-400 mt-4 mb-12">{description}</p>

            <div class="prose prose-htmx prose-sm sm:prose-base dark:prose-invert max-w-none">
                <Content/>
            </div>

            <div class="h-16"></div>
        </div>
    </main>
</Layout>
